[Unit]
Description=Keep disk at /dev/%i from going to sleep with random reads

[Service]
Type=simple
User=nobody
Group=disk
ExecStart=/usr/bin/diskspinner /dev/%i

[Install]
WantedBy=default.target
