[Unit]
Description=Keep disk at /dev/%i from going to sleep with random reads

[Service]
Type=oneshot
#User=nobody
#Group=nobody
ExecStart=/usr/bin/bash -c "dd if=/dev/%i of=/dev/null status=none count=16 seek=$(($(blockdev --getsize64 /dev/sda) / 32767 * $RANDOM))"

[Install]
WantedBy=default.target
